<div class="main-container-index">
    <div class="form-container">
        <form action="/ticket/create" class="form" method="POST">
            <label class="form-labels" for="OIB">OIB:</label><br>
            <input class="input-labels" type="text" id="oib" name="oib" required><br>
            <label class="form-labels" for="firstName">First name:</label><br>
            <input class="input-labels" type="text" id="firstName" name="firstName" required><br>
            <label class="form-labels" for="lastName">Last name:</label><br>
            <input class="input-labels" type="text" id="lastName" name="lastName" required><br><br>
            <input type="submit" value="Create" class="button-54" id="create-button">
        </form>
    </div>
</div>

