<div class="main-container-index">
    <div class="counter-container">
        <h1 id="success-text">Unable to create ticket!</h1>
        <h2>Error code: <%=code%></h2>
        <h2>Error message: <%=message%></h2>
        <a href="/ticket/home"><button class="button-54" id="create-button">Try again</button></a>
    </div>
</div>
