<div class="main-container-index">
    <div class="counter-container">
        <h1 id="success-text">Hmmm... Something went wrong!</h1>
        <h2>Error code: <%=code%></h2>
        <h2>Error message: <%=message%></h2>
    </div>
</div>
