<div class="main-container-index">
    <div class="counter-container">
        <h1 id="counter-name">Tickets generated:</h1>
        <div class="counter">
            <h1 class="number">0</h1>
            <h1 class="number">0</h1>
            <h1 class="number">0</h1>
            <h1 class="number">0</h1>
        </div>
    </div>
</div>




