<div class="main-container-index">
    <div class="counter-container">
        <h1 id="success-text">Ticket created successfully!</h1>
        <a href="/ticket/home"><button class="button-54" id="create-button">View ticket</button></a>
    </div>
</div>
